<h2>Custom Pipe to reverse the string : {{name}}</h2>
<h3>Output is : {{name | myRev}}</h3>

<h2>Custom Pipe for Addition of numbers : {{num1}}, 3</h2>
<h3>Output is : {{num1 | myAdd : 3}}</h3>

<h2>Custom Pipe for Multiplication of numbers : {{num2}}, 3</h2>
<h3>Output is : {{num2 | myMult : 3}}</h3>

<h2>Custom Pipe to check given number is :Prime ,Perfect, Even or Odd </h2>
<h3>Output is : {{8 | marvellousChk : 'Even'}}</h3>

<h3>Output is : {{2 | marvellousChk : 'Odd'}}</h3>

<h3>Output is : {{29 | marvellousChk : 'Prime'}}</h3>

<h3>Output is : {{28 | marvellousChk : 'Perfect'}}</h3>

<h2>Custom pipe to calculate age</h2>

{{today | date: 'dd MMM yyyy'}}
<h3>Output is : {{'17/01/1991' | calculateAge : today | date: 'dd MMM yyyy'  }}</h3>


